<div class="btn-group select" dropdown>
  <button class="btn btn-default btn-sm dropdown-toggle"
    dropdown-toggle ng-disabled="disabled" style="min-width: 90px">
      <span style="display: inline-block; padding-right: 8px;">
        {{selected[labelField] ? selected[labelField] : selected}}
      </span>
    <span class="caret" style="position: absolute; right: 4px; top: 12px;"></span>
  </button>

  <ul class="dropdown-menu" role="menu">
    <li ng-repeat="item in options">
      <a ng-click="select(item)" style="padding-left: 10px">
        {{item[labelField] ? item[labelField] : item}}
      </a>
    </li>
  </ul>
</div>